div.realTimePriceAndDemand div.c3{
    margin: 0 -20px -20px -20px;
}
div.realTimePriceAndDemand .c3-axis-y-label,
div.realTimePriceAndDemand .c3-axis-x-label,
div.realTimePriceAndDemand .c3-axis-y2-label {
    fill: #076ee8;
    font-size: 12px;
}

div.realTimePriceAndDemand .c3-axis tspan {
    fill: #535353;
    font-size: 10px;
}
div.realTimePriceAndDemand g.c3-axis-x g.tick tspan{
    font-weight: lighter;
    fill: black;
    font-size: 8px;
}

div.realTimePriceAndDemand .regionX{
    fill : red;
}